client/node_modules
server/node_modules

/.history

.history/


.env

/server/.env

/client/.env

/client/lama


/server/cekmig.js
/server/cekmigtem.js
/server/check-indexes.js
/server/detectrob.js
/server/fix-all-tables.js
/server/fix-duplicate-indexes.sql
/server/cek.js
/server/logs
/server/migrations
/server/scripts

duplicate-indexes-report.json
fix-duplicate-indexes.sql
index-analysis-report.json
root-cause-analysis.json


/client/build

binderbyte_tracking_implementation.md
readme_binderbyte.md
test_binderbyte_tracking.js




/server/testing
/server/.zip

schema.sql
